<%- include("template/cabecera",{tituloweb:"pagina de inicio"}) %>

    <div class="container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>
              </tr>
            </thead>
            <tbody>
                <% if (mascotas) { %>
                    <% mascotas.forEach(m => { %>
                        <tr>
                            <th scope="row">    <%= m.id %></th>
                            <td><%= m.nombre %> </td>
                            <td><%= m.descripcion %> </td>
                            <td>@mdo</td>
                          </tr>
                    <% }) %>            
                <% } %>
              
            </tbody>
          </table>
        
    </div>



<%- include("template/footer") %>